<app-menu></app-menu>

<div class="container-fluid">

    <!-- START : main image container -->
    <div class="row homepage-main-image-container">
        <div class="col-12">
            <img src="../assets/fishouaisouais.png" class="mb-3 homepage-main-image-logo" alt="">
            <h1 class="text-center homepage-main-image-title"><span class="d-none d-sm-inline-block">Bienvenue sur</span> {{ 'HOMEPAGE.big_title' | translate }}</h1>
            <h4 class="offset-2 col-8 homepage-main-image-description">Petites annonces fishing entre passionés</h4>
        </div>
    </div>
    <!-- END : main image container -->

</div>

<div class="homepage-fat-separator d-flex align-items-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 mb-3 mb-lg-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroup">Votre recherche :</label>
                    </div>
                    <input type="text" class="form-control" id="inputGroup" placeholder="Canne, moulinet, leurre ...">
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectGroup">Où ?</label>
                    </div>
                    <select class="custom-select" id="selectGroup">
                        <option selected disabled>Choisir une région ...</option>
                        <option *ngFor="let dpt of frenchDepartments" value="{{ dpt.code }}">{{ dpt.code }} - {{ dpt.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-4 mb-5">
            <img src="../assets/zoom.png" alt="Cherchez" class="homepage-card-image homepage-rotate-right mb-4">
            <h4 class="text-center text-green">Recherchez</h4>
            <p class="homepage-card-explanations pl-4 pr-4 pt-2">
                Plus de 230 000 annonces spécialisées déjà publiées.
                Rejoignez une communauté de plus de 20 000 utilisateurs passionés cherchant ou vendant du matériel.<br>
                N'attendez plus, commencez à chercher dès maintenant !
            </p>
        </div>
        <div class="col-12 col-md-4 mb-5">
            <img src="../assets/contact-book.png" alt="Contactez" class="homepage-card-image homepage-rotate-right mb-4">
            <h4 class="text-center text-green">Contactez</h4>
            <p class="homepage-card-explanations pl-4 pr-4 pt-2">
                Prenez contact facilement par email ou téléphone avec le vendeur.
                Vous pourrez alors échanger des informations liées au matériel pour lequel vous avez craqué.
            </p>
        </div>
        <div class="col-12 col-md-4 mb-5">
            <img src="../assets/fishing-vest.png" alt="Profitez" class="homepage-card-image homepage-rotate-right mb-4">
            <h4 class="text-center text-green">Profitez !</h4>
            <p class="homepage-card-explanations pl-4 pr-4 pt-2">
                La nouveau matériel fraîchement acquis peut alors être utilisé lors de vos nombreuses sorties.<br>
                Que poissons en tout genre et grosses prises s'en suivent !
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>
