ngb-carousel {
  img {
    width: 100%;
  }
}

nav {
  -webkit-box-shadow: 0px 3px 36px 14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 36px 14px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 36px 14px rgba(0,0,0,0.75);
}

.custom-signup-btn, .custom-signin-btn {
  background-color: #005005;
  border-color: #60ad5e;
}

.custom-signup-btn, .custom-signin-btn {
  &:active {
    background-color: #60ad5e !important;
    border-color: #60ad5e !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(96, 173, 94, 0.5);
  }
  &:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(96, 173, 94, 0.5) !important;
  }
}

.homepage-main-image-container {
  height: 450px;
  background-size: cover;
  background: url("../assets/forest-lake.jpeg") center right;
  display: flex;
  align-items: center;
  .homepage-main-image-logo {
    margin: 0 auto;
    display: block;
    height: 170px;
    width: 170px;
  }
  .homepage-main-image-title {
    color: white;
    font-size: 46px;
  }
  .homepage-main-image-description {
    color: white;
    text-align: center;
  }
}

.text-green {
  color: #2e7d32;
  text-transform: uppercase;
  font-weight: 600;
}

.homepage-fat-separator {
  background-color: #2e7d32;
  min-height: 75px;
  max-height: 50px;
  margin-top: -20px;
  -webkit-box-shadow: 0px 3px 36px 14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 36px 14px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 36px 14px rgba(0,0,0,0.75);

  // TODO : remove ?
  display: flex;
  align-items: center;
}

.homepage-card-image {
  margin: 0 auto;
  display: block;
  height: 85px;
  width: 85px;
}

.homepage-rotate {
  &-right {
    transition: transform 300ms;
    &:hover {
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
      transform: rotate(-30deg);
      transition: 300ms;
    }
  }
}

.homepage-card-explanations {
  text-align: justify;
}

.footer-container {
  background-color: #2e7d32;
  div {
    color: white;
    a {
      color: white;
      font-weight: bold;
    }
  }

}