.signin-modal-container {
  -webkit-box-shadow: 0 0 84px 8px rgba(54,54,54,1);
  -moz-box-shadow: 0 0 84px 8px rgba(54,54,54,1);
  box-shadow: 0 0 84px 8px rgba(54,54,54,1);
  background-color: whitesmoke;
  margin-top: 40%;
  border: 1px solid grey;
  border-radius: 4px;
  .signin-modal-header {
    background-color: #2E7D32;
    padding: 20px;
    &-title {
      color: white;
      font-size: 20px;
    }
  }
  .signin-modal-content {
    padding: 20px;
  }
}